table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
    background-color: #202940;
    border: white;
    border-radius: 100px;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #1A2035;
}

tr:nth-child(even) {
    /* background-color: #f2f2f2; */
}

a {
    color: #333333;
    text-decoration: none;
}

a:hover {
    color: #007bff;
}
