.nav-tab {
    display: flex;
	align-items: center;
	height: 100%;
	padding-right: 10px;
	padding-left: 10px;
}

.nav-tab a {
    background-color: #333;
	color: var(--nav-text);
	text-decoration: none;
	position: relative;
}

.nav-tab:hover{
	color: var(--nav-text);
	opacity: 0.8;
	transition: opacity 0.5s ease-in-out;
}



body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

h1 {
    text-align: center;
    font-size: 36px;
    color: #444444;
    margin-top: 50px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    color: #444444;
    margin-top: 30px;
    margin-bottom: 10px;
}

h3 {
    font-size: 20px;
    color: #333333;
    margin-left: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #dddddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    color: #333333;
    text-decoration: none;
}

a:hover {
    color: #007bff;
}
