{% load static %}

<html>
  <head>
      <link rel='stylesheet' href='{% static "styles/footer.css" %}'>
  </head>
  <body>

    <footer>
      <div class="container-fluid m-0 p-0 bg-dark text-primary mw-100">
        <div class="card bg-secondary mw-100">
          <div class="card-header"></div>
          <div class="row m-0">
            <div class="card-body">
              <div class="row">
                <div class="col-md-5 border-right text-center">
                  <h3>About Us</h3>
                  <p>NOCD - Network Operations Center for Dummies</p>
                  <p> Developed by the NOCD Team </p>
                  <div class="col-md"> © 2023 NOCD Web Interface. All rights reserved. </div>
                </div>
                <div class="col-md-1 text-center">
                  <div class="vr h-100"></div>
                </div>
                <div class="col-md-5 text-center">
                  <h3 class="mb-4">Contact Us</h3>
                  <div class="row">
                    <div class="col-md"> Jordan University of Science & Technology (JUST) </div>
                    <div class="col-md"> +962792937362 </div>
                    <div class="col-md"> info@nocdweb.com </div>
                    
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </footer>

  </body>
</html>
