<!DOCTYPE html>
{% load static %}
<html>

<head>
    <!-- Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">

    <link rel='stylesheet' href='{% static "styles/main.css" %}'>

    {% block header %}
    {% endblock header %}
</head>

<body>
    <div class="wrapper">
        {% include "navbar.html" %}
        <div class="content">
            <div class="container">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
        <div class="footer">
            {% include "footer.html" %}
        </div>
    </div>
</body>

</html>