{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark shadow-sm p-2">
	<i class="bi bi-graph-up logo m-2"></i>
	<a class="navbar-brand" href="#"> NOCD </a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
		aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav me-auto">
			<li class="m-1">
				<a class="btn btn-secondary text-primary {% if request.path == " /" %} text-black active{% endif %}"
					href="/"> Home </a>
			</li>
			<li class="m-1">
				<a class="btn btn-secondary text-primary {% if " /About" in request.path %} text-black active{% endif %}" href="#"> About </a>
			</li>
			<li class="m-1">
				<a class="btn btn-secondary text-primary {% if " /firewall" in request.path %} text-black active{% endif %}" href="/firewall"> Firewall </a>
			</li>
		</ul>
		<ul class="navbar-nav" style="margin-right: 10px;">
			<!-- pill icon -->
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					<span class="position-relative" id="notifications-count">
						<i class="bi bi-bell" style="fill: red; font-size: 1.3em;"></i>
					</span>
				</a>

				<div class="dropdown-menu dropdown-menu-left " aria-labelledby="navbarDropdown"
					style="position: absolute; left:-100px; z-index: 1000;">
					<div id="nav-notifications">
						<h6 class="dropdown-header">No notifications</h6>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item text-light" href="/notifications">See all notifications</a>
					</div>
				</div>
			</li>
			<!-- personal icon -->
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					<i class="bi bi-person-circle" style="font-size: 1.3em;"></i>
				</a>

				<div class="dropdown-menu dropdown-menu-left " aria-labelledby="navbarDropdown" style="position: absolute; left:-100px; z-index: 1000;">
					<a class="dropdown-item text-light" href="#"> Register </a>
					<a class="dropdown-item text-light" href="#"> Login </a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item text-light" href="#"> Logout </a>
				</div>
			</li>
		</ul>
	</div>

	<script src="{% static 'js/navbar_notifications.js' %}"></script>
</nav>