{% extends 'main.html' %}
{% load static %}

{% block title %} Dashboard {% endblock %} 

{% block header %}
  <!-- Charts.js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
{% endblock %}

{% block content %}

<div class="bg-dark">
  <!-- Card -->
  <h4 class="page-title"> Statistics </h4>
  <!-- Card With Icon States Color -->
  {% include 'dashboard/widgets.html' %}

  <div class="row">

    <div class="col-md-4">
      <div class="card bg-secondary shadow">
        {% include 'dashboard/piechart.html' %}
      </div>
    </div>

    <div class="col-md-8">
      <div class="card h-100 bg-secondary shadow">
        <div class="card-header">
          <div class="d-flex flex-row">
            <div class="col-10">
              <div class="card-title"> Length of Packets </div>
            </div>
            <div class="col-2 d-flex justify-content-between">
              
                  <button id="toStart" class="jump btn btn-primary"> 
                    <i class="fa fa-step-backward" aria-hidden="true"></i> 
                  </button>
                  <button id="jumpBackward" class="jump btn btn-primary"> 
                    <i class="fa fa-backward" aria-hidden="true"></i>
                  </button>

                  <button id="jumpForward" class="jump btn btn-primary"> 
                    <i class="fa fa-forward" aria-hidden="true"></i>
                  </button>
                  <button id="toEnd" class="jump btn btn-primary"> 
                    <i class="fa fa-step-forward" aria-hidden="true"></i>
                  </button>              

            </div>
          </div>
        </div>
        <div class="card-body flex-row">
          <div class="flex-row h-100">
            <div class="col h-100">
                <canvas id="lineChart1" ></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="row text-primary">
    <div class="col">
      <div class="card card-stats card-round bg-secondary shadow">
        <div class="card-body">
          <div class="row">
            <iframe src="traffic_control" frameborder="0" style="height: 1000px;" scrolling="no">

            </iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
<!-- 
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card card-stats card-round bg-secondary shadow">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="chart">
                <canvas id="geoChart1"> </canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <br>

</div>

{% endblock %} 


{% block javascripts %}
  
  <script src="{% static 'dashboard/js/line-chart.js' %}"></script>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-geo@4.1.2/build/index.umd.min.js"></script>
  <!-- <script src="{% static 'dashboard/js/gro-chart.js' %}"></script> -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

  <script>

    

    // Line Chart
    const lineChart1 = new LineChart(document.getElementById('lineChart1').getContext('2d'));
    // lineChart1.debug(3);

  </script>

  <!-- <script>
    fetch('https://unpkg.com/world-atlas/countries-50m.json').then((r) => r.json()).then((data) => {
      const countries = ChartGeo.topojson.feature(data, data.objects.countries).features;

      const chart = new Chart(document.getElementById("geoChart1"), {
        type: 'choropleth',
        data: {
          labels: countries.map((d) => d.properties.name),
          datasets: [{
            label: 'Countries',
            data: countries.map((d) => ({feature: d, value: Math.random()})),
          }]
        },
        options: {
          showOutline: false,
          showGraticule: false,
          plugins: {
            legend: {
              display: false
            },
          },
          scales: {
            projection: {
              axis: 'x',
              projection: 'equalEarth'
            }
          }
        }
      });
    });
  </script> -->

{% endblock %} 


