<div class="row">
<div class="col-sm-6 col-md-3">
	<div class="card card-stats card-round bg-secondary shadow">
	<div class="card-body">
		<div class="row">
		<div class="col-5">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cpu h-100 w-50" viewBox="0 0 16 16">
				<path d="M5 0a.5.5 0 0 1 .5.5V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2A2.5 2.5 0 0 1 14 4.5h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14a2.5 2.5 0 0 1-2.5 2.5v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14A2.5 2.5 0 0 1 2 11.5H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2A2.5 2.5 0 0 1 4.5 2V.5A.5.5 0 0 1 5 0zm-.5 3A1.5 1.5 0 0 0 3 4.5v7A1.5 1.5 0 0 0 4.5 13h7a1.5 1.5 0 0 0 1.5-1.5v-7A1.5 1.5 0 0 0 11.5 3h-7zM5 6.5A1.5 1.5 0 0 1 6.5 5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3zM6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"/>
			  </svg>
		</div>
		<div class="col-7 col-stats">
			<div class="numbers">
			<p class="card-category"> CPU </p>
			<h4 id="cpu-utilization" class="card-title"> --{{cpu_percent}}% </h4>
			</div>
		</div>
		</div>
	</div>
	</div>
</div>
<div class="col-sm-6 col-md-3">
	<div class="card card-stats card-round bg-secondary shadow">
	<div class="card-body ">
		<div class="row">
		<div class="col-5">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-memory h-100 w-50" viewBox="0 0 16 16">
				<path d="M1 3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.586a1 1 0 0 0 .707-.293l.353-.353a.5.5 0 0 1 .708 0l.353.353a1 1 0 0 0 .707.293H15a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H1Zm.5 1h3a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5Zm5 0h3a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5Zm4.5.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-4ZM2 10v2H1v-2h1Zm2 0v2H3v-2h1Zm2 0v2H5v-2h1Zm3 0v2H8v-2h1Zm2 0v2h-1v-2h1Zm2 0v2h-1v-2h1Zm2 0v2h-1v-2h1Z"/>
			  </svg>
		</div>
		<div class="col-7 col-stats">
			<div class="numbers">
			<p class="card-category"> Memory </p>
			<h4 id="memory-utilization" class="card-title"> --{{memory_percent}} </h4>
			</div>
		</div>
		</div>
	</div>
	</div>
</div>
<div class="col-sm-6 col-md-3">
	<div class="card card-stats card-round bg-secondary shadow">
	<div class="card-body">
		<div class="row">
		<div class="col-5">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download h-100 w-50" viewBox="0 0 16 16">
				<path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
				<path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
			  </svg>
		</div>
		<div class="col-7 col-stats">
			<div class="numbers">
			<p class="card-category"> Total Received </p>
			<h4 id="download" class="card-title"> --{{download}} </h4>
			</div>
		</div>
		</div>
	</div>
	</div>
</div>
<div class="col-sm-6 col-md-3">
	<div class="card card-stats card-round bg-secondary shadow">
	<div class="card-body">
		<div class="row">
		<div class="col-5">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upload h-100 w-50" viewBox="0 0 16 16">
				<path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
				<path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"/>
			  </svg>
		</div>
		<div class="col-7 col-stats">
			<div class="numbers">
			<p class="card-category"> Total Sent </p>
			<h4 id="upload" class="card-title"> --{{upload}} </h4>
			</div>
		</div>
		</div>
	</div>
	</div>
</div>
</div>

<br>

<script>
	// Update CPU utilization using fetch and JavaScript
	function updateCPUUtilization() {
		fetch('{% url "dashboard:widgets" %}?widget=cpu_utilization')
			.then(response => response.json())
			.then(data => {
				document.getElementById("cpu-utilization").textContent = data.cpu_percent + "%";
				setTimeout(updateCPUUtilization, 1000); // Update every 1 second
			})
			.catch(error => {
				console.error('Error:', error);
				setTimeout(updateCPUUtilization, 1000); // Retry after 1 second in case of error
			});
	}

	// Update CPU utilization using fetch and JavaScript
	function updateMemoryUtilization() {
		fetch('{% url "dashboard:widgets" %}?widget=memory_utilization')
			.then(response => response.json())
			.then(data => {
				document.getElementById("memory-utilization").textContent = data.memory_percent + "%";
				setTimeout(updateMemoryUtilization, 1000); // Update every 1 second
			})
			.catch(error => {
				console.error('Error:', error);
				setTimeout(updateMemoryUtilization, 1000); // Retry after 1 second in case of error
			});
	}

	function download() {
		fetch('{% url "dashboard:widgets" %}?widget=download')
			.then(response => response.json())
			.then(data => {
				document.getElementById("download").textContent = data.download + "MB";
				setTimeout(download, 1000); // Update every 1 second
			})
			.catch(error => {
				console.error('Error:', error);
				setTimeout(download, 1000); // Retry after 1 second in case of error
			});
	}

	function upload() {
		fetch('{% url "dashboard:widgets" %}?widget=upload')
			.then(response => response.json())
			.then(data => {
				document.getElementById("upload").textContent = data.upload + "MB";
				setTimeout(upload, 1000); // Update every 1 second
			})
			.catch(error => {
				console.error('Error:', error);
				setTimeout(upload, 1000); // Retry after 1 second in case of error
			});
	}

	// Call the update function initially
	updateCPUUtilization();
	updateMemoryUtilization();
	download()
	upload()
</script>