{% load static %}

{% block header %}

    <link rel="stylesheet" type="text/css" href='{% static "styles/addrule.css" %}' />
    <script src="{% static 'js/addrule.js' %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
            crossorigin="anonymous"></script>

{% endblock %}

{% block content %} 

    <h1>Rule Form</h1>
        <form id="rule_form" action="" method="POST">
            {% csrf_token %} 
            {% for field in form %}
                <p>
                    {% if field.name == "rule_id" %} 
                        <label>
                            Rule num <span style="color: red">*</span>:
                        </label>
                        {% if UpdateOrSubmit == 'UPDATE' and instance.rule_id is not none %}
                            <input id="id_{{ field.name }}" 
                                   type="number" 
                                   name="{{ field.name }}" 
                                   min="1" 
                                   max="999" 
                                   value="{{ instance.rule_id }}" 
                                   required>
                        {% else %}
                            <input id="id_{{ field.name }}" 
                                   type="number" 
                                   name="{{ field.name }}" 
                                   min="1" 
                                   max="999" 
                                   required>
                        {% endif %} 
                    {% elif field.name == "description" %}
                        <label for="id_{{ field.name }}">
                            Description <span style="color: red">*</span>:
                        </label>
                        {% if UpdateOrSubmit == 'UPDATE' and instance.rule_id is not none %}
                            <input id="id_{{ field.name }}" 
                                   type="text" 
                                   name="description" 
                                   maxlength="255" 
                                   value="{{ instance.description }}" 
                                   required>
                        {% else %}
                            <input id="id_{{ field.name }}"
                                   type="text" 
                                   name="description" 
                                   maxlength="255"
                                   required>
                        {% endif %}
                    {% elif field.name == "source_port" %} 
                        {{ field.label_tag }}
                        {% if UpdateOrSubmit == 'UPDATE' and instance.source_port is not none %}
                            <input id="id_{{ field.name }}" 
                                   type="number" 
                                   name="{{ field.name }}" 
                                   min="1" 
                                   max="65536" 
                                   value="{{ instance.source_port }}">
                        {% else %}
                            <input id="id_{{ field.name }}"
                                   type="number" 
                                   name="{{ field.name }}" 
                                   min="1" 
                                   max="65536">
                        {% endif %} 
                    {% elif field.name == "destination_port" %} 
                        {{field.label_tag }} 
                        {% if UpdateOrSubmit == 'UPDATE' and instance.destination_port is not none %}
                            <input id="id_{{ field.name }}" 
                                   type="number" 
                                   name="{{ field.name }}" 
                                   min="1" 
                                   max="65536"
                                   value="{{ instance.destination_port }}">
                        {% else %}
                            <input id="id_{{ field.name }}" 
                                   type="number" 
                                   name="{{ field.name }}" 
                                   min="1" 
                                   max="65536">
                        {% endif %} 
                    {% elif field.name == "source_address" %}
                        {% if ip_family == 'IPv4' %}
                            <label for="id_{{ field.name }}">
                                IPv4 {{ field.label_tag }}
                            </label>
                        {% else %}
                            <label for="id_{{ field.name }}">
                                IPv6 {{ field.label_tag }}
                            </label>
                        {% endif %}
                        {% if UpdateOrSubmit == 'UPDATE' and instance.source_address is not none %}
                            {% if ip_family == 'IPv4' %}
                                <input id="id_{{ field.name }}" 
                                       type="text" 
                                       name="{{ field.name }}" 
                                       pattern="^((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)(.(?!$)|$)){4}$" 
                                       value="{{ instance.source_address }}">
                            {% else %}
                                <input id="id_{{ field.name }}" 
                                       type="text" name="{{ field.name }}" 
                                       pattern="^([0-9A-Fa-f]{1,4}:){7}[0-9A-Fa-f]{1,4}$"
                                       value="{{ instance.source_address }}">
                            {% endif %} 
                        {% else %}
                            {% if ip_family == 'IPv4' %}
                                <input id="id_{{ field.name }}" 
                                       type="text" 
                                       name="{{ field.name }}" 
                                       pattern="^((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)(.(?!$)|$)){4}$">
                            {% else %}
                                <input id="id_{{ field.name }}" 
                                       type="text" name="{{ field.name }}" 
                                       pattern="^([0-9A-Fa-f]{1,4}:){7}[0-9A-Fa-f]{1,4}$">
                            {% endif %} 
                        {% endif %} 
                    {% elif field.name == "destination_address" %}
                        {% if ip_family == 'IPv4' %}
                            <label for="id_{{ field.name }}">
                                IPv4 {{ field.label_tag }}
                            </label>
                        {% else %}
                            <label for="id_{{ field.name }}">
                                IPv6 {{ field.label_tag }}
                            </label>
                        {% endif %}
                        {% if UpdateOrSubmit == 'UPDATE' and instance.destination_address is not none %}
                            {% if ip_family == 'IPv4' %}
                                <input id="id_{{ field.name }}" 
                                       type="text" name="{{ field.name }}" 
                                       pattern="^((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)(.(?!$)|$)){4}$"
                                       value="{{ instance.destination_address }}">
                            {% else %}
                                <input id="id_{{ field.name }}" 
                                       type="text" name="{{ field.name }}" 
                                       pattern="^([0-9A-Fa-f]{1,4}:){7}[0-9A-Fa-f]{1,4}$"
                                       value="{{ instance.destination_address }}">
                            {% endif %} 
                        {% else %}
                            {% if ip_family == 'IPv4' %}
                                <input id="id_{{ field.name }}" 
                                       type="text" 
                                       name="{{ field.name }}" 
                                       pattern="^((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)(.(?!$)|$)){4}$">
                            {% else %}
                                <input id="id_{{ field.name }}" 
                                       type="text" 
                                       name="{{ field.name }}" 
                                       pattern="^([0-9A-Fa-f]{1,4}:){7}[0-9A-Fa-f]{1,4}$">
                            {% endif %} 
                        {% endif %}
                    {% else %} 
                        {{ field.label_tag }} {{ field }}
                    {% endif %}
                </p>
            {% endfor %}
            <br />
            {% if UpdateOrSubmit == 'SUBMIT' %}
                <input type="submit" 
                       UpdateOrSubmit="SUBMIT" 
                       value="Submit">
            {% else %}
                <input type="submit" 
                       UpdateOrSubmit="UPDATE" 
                       value="Update">
            {% endif %}
            <button type="button" onclick="location.href='{% url "home" %}'">
                Cancel
            </button>
        </form>
        <!-- Modal -->
        <div id="errorModal" 
             class="modal fade" 
             tabindex="-1" 
             role="dialog" 
             aria-labelledby="exampleModalLabel" 
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Error has occured
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                            <div class="modal-body">
                                <p id="errorModalBody" ></p>
                            </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
