{% extends 'main.html' %}
{% load static %}

{% block title %} Add Rule {% endblock %}

{% block header %}

    <link rel="stylesheet" type="text/css" href='{% static "styles/addrule.css" %}' />
    <script src="{% static 'js/addrule.js' %}"></script>

{% endblock header %}

{% block body %} 

    <div class="row text-primary" style="width: calc(100% + 10px);">
        <div class="col p-0 m-0">
            <div class="card card-stats card-round bg-dark shadow min-vh-100">
                <div class="card-body">
                    <div class="row">
                        <div class="col p-0 m-0">
                            <h1>Rule Form</h1>
                            <form id="rule_form" action="" method="POST" class="bg-secondary">
                                {% csrf_token %} 
                                {% for field in form %}
                                    <p>
                                        {% if field.name == "rule_priority" %} 
                                            <label>
                                                Rule ID <span style="color: red">*</span>:
                                            </label>
                                            <input  id="id_{{ field.name }}" 
                                                    type="number" 
                                                    name="{{ field.name }}" 
                                                    {% if update_or_submit == 'UPDATE' %}
                                                        value="{{ instance.rule_priority }}" 
                                                    {% endif %}
                                                    min="1" 
                                                    max="999" 
                                                    required>
                                        {% elif field.name == "description" %}
                                        <p>
                                            <label label for="id_{{ field.name }}">Description <span style="color: red">*</span>:</label>
                                        </p>
                                            <textarea id="id_{{ field.name }}" name="description" rows="5" cols="40" maxlength="230" required>{% if update_or_submit == 'UPDATE' %}{{ instance.description }}{% endif %}</textarea>                                                                     
                                        {% elif field.name == "source_domain" or field.name == "destination_domain" %}
                                            <p>
                                                <label>
                                                    Define source by:
                                                </label>
                                                <label>
                                                    <input type="radio" id="id_{{ field.name }}_ip" name="{{ field.name }}" value="ip">
                                                    IP
                                                </label>
                                                <label>
                                                    <input type="radio" id="id_{{ field.name }}_domain" name="{{ field.name }}" value="domain" checked>
                                                    Domain
                                                </label>
                                            </p>
                                            <p>
                                                <label for="id_{{ field.name }}">
                                                    {{ field.label_tag }}
                                                </label>
                                                <input  id="id_{{ field.name }}" 
                                                        type="text" 
                                                        {% if update_or_submit == 'UPDATE'  %}
                                                            {% if instance.source_domain is not None or instance.destination_domain is not None  %}
                                                                {% if field.name == "source_domain" and instance.source_domain is not None %}
                                                                    value="{{ instance.source_domain }}"
                                                                {% elif field.name == "destination_domain" and instance.destination_domain is not None %}
                                                                    value="{{ instance.destination_domain }}"
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endif %}
                                                        name="{{ field.name }}">
                                            </p>
                                        {% elif field.name == "source_port" or field.name == "destination_port" %} 
                                            {{ field.label_tag }}
                                            <input  id="id_{{ field.name }}" 
                                                    type="text" 
                                                    name="{{ field.name }}" 
                                                    {% if update_or_submit == 'UPDATE' %}
                                                        {% if instance.source_port is not None or instance.destination_port is not None %}
                                                            {% if field.name == "source_port" and instance.source_port is not None %}
                                                                value="{{ instance.source_port }}"
                                                            {% elif field.name == "destination_port" and instance.destination_port is not None%}
                                                                value="{{ instance.destination_port }}"
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %} 
                                                    pattern="^((6553[0-6])|(655[0-2][0-9])|(65[0-4][0-9]{2})|(6[0-4][0-9]{3})|([1-5][0-9]{4})|([0-9]{1,4}))(:(?=((6553[0-6])|(655[0-2][0-9])|(65[0-4][0-9]{2})|(6[0-4][0-9]{3})|([1-5][0-9]{4})|([0-9]{1,4}))))?((?<=:)(?=((6553[0-6])|(655[0-2][0-9])|(65[0-4][0-9]{2})|(6[0-4][0-9]{3})|([1-5][0-9]{4})|([0-9]{1,4}))))?((?<=:)((6553[0-6])|(655[0-2][0-9])|(65[0-4][0-9]{2})|(6[0-4][0-9]{3})|([1-5][0-9]{4})|([0-9]{1,4})))?$">                           
                                        {% elif field.name == "source_address" or field.name == "destination_address" %}
                                            <label for="id_{{ field.name }}">
                                                {{ ip_family }} {{ field.label_tag }}
                                            </label>
                                            <input  id="id_{{ field.name }}" 
                                                    type="text" 
                                                    {% if ip_family == 'IPv4' %}
                                                        pattern="^((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)(\/([1-9]|[12][0-9]|3[01]))?$"
                                                    {% else %}
                                                        pattern="^([0-9A-Fa-f]{1,4}:){7}[0-9A-Fa-f]{1,4}(\/([1-9]|[1-5][0-9]|6[0-4]))?$"
                                                    {% endif %}
                                                    {% if update_or_submit == 'UPDATE'  %}
                                                        {% if instance.source_address is not None or instance.destination_address is not None  %}
                                                            {% if field.name == "source_address" and instance.source_address is not None %}
                                                                value="{{ instance.source_address }}"
                                                            {% elif field.name == "destination_address" and instance.destination_address is not None %}
                                                                value="{{ instance.destination_address }}"
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                    name="{{ field.name }}">
                                        {% else %} 
                                            {{ field.label_tag }} {{ field }}
                                        {% endif %}
                                    </p>
                                {% endfor %}
                                <br />
                                <input  type="submit"
                                        update-or-submit="{{ update_or_submit }}"
                                        value="{{ update_or_submit }}">
                                        <button type="button" onclick="redirectToHome()">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% include 'firewall/error.html' %}

{% endblock %}
