{% load static %}

<form id="rule_form{{ rule_id }}" action="{% url 'firewall:home' %}" method="POST">
    {% csrf_token %} 
    <p>
        <label for="id_rule_priority"> 
                Rule number <span style="color: red">*</span>:
        </label>
        <input  id="id_rule_priority" 
                type="number" 
                name="rule_priority" 
                min="1" 
                max="999" 
                required>
    </p>
    <p>
        <label for="id_description">
            Description <span style="color: red">*</span>: 
        </label>
        <input  id="id_description" 
                type="text" 
                name="description"
                maxlength="255" 
                required>
    </p>
    <p>
        <label for="id_traffic_direction">
            Traffic direction: 
        </label>
        <select name="traffic_direction" id="id_traffic_direction">
            <option value="Inbound" selected="">Inbound</option>
            <option value="Outbound">Outbound</option>
        </select>
    </p>
    <p>
        <label for="id_ip_family">
            IP family: 
        </label>
        <select name="ip_family" id="id_ip_family">
            <option value="IPv4" selected="">IPv4</option>
            <option value="IPv6">IPv6</option>
        </select>
    </p>
    <p>
        <label for="id_type">
            Type: 
        </label>
        <select name="type" id="id_type">
            <option value="">---------</option>
            <option value="CUSTOM TCP" selected="">CUSTOM TCP</option>
            <option value="CUSTOM UDP">CUSTOM UDP</option>
            <option value="CUSTOM ICMP">CUSTOM ICMP</option>
            <option value="ALL TCP">ALL TCP</option>
            <option value="ALL UDP">ALL UDP</option>
            <option value="ALL ICMP">ALL ICMP</option>
            <option value="SSH 22">SSH 22</option>
            <option value="TELNET 23">TELNET 23</option>
            <option value="SMTP 25">SMTP 25</option>
            <option value="NAMESERVER 42">NAMESERVER 42</option>
            <option value="DNS UDP 53">DNS UDP 53</option>
            <option value="DNS TCP 53">DNS TCP 53</option>
            <option value="HTTP 80">HTTP 80</option>
            <option value="POP3 110">POP3 110</option>
            <option value="IMAP 143">IMAP 143</option>
            <option value="LDAP 389">LDAP 389</option>
            <option value="HTTPS 443">HTTPS 443</option>
            <option value="SMB 445">SMB 445</option>
            <option value="SMTPS 465">SMTPS 465</option>
            <option value="IMAPS 993">IMAPS 993</option>
            <option value="POP3S 995">POP3S 995</option>
            <option value="NFS 2049">NFS 2049</option>
        </select>
    </p>
    <p>
        <label for="id_protocol">
            Protocol: 
        </label>
        <select name="protocol" id="id_protocol">
            <option value="">---------</option>
            <option value="TCP" selected="">TCP</option>
            <option value="UDP">UDP</option>
            <option value="ICMP">ICMP</option>
        </select>
    </p>
    <p>
        <label for="id_source_address">
            {{ ip_family }} Source address: 
        </label>
        <input  id="id_source_address" 
                type="text"
                {% if ip_family == 'IPv4' %}
                    pattern="^((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)(\/([1-9]|[12][0-9]|3[01]))?$"
                {% else %}
                    pattern="^([0-9A-Fa-f]{1,4}:){7}[0-9A-Fa-f]{1,4}(\/([1-9]|[1-5][0-9]|6[0-4]))?$"
                {% endif %} 
                name="source_address">
    </p>
    <p>
        <label for="id_source_port">
            Source port: 
        </label>
        <input  id="id_source_port" 
                type="text" 
                name="source_port"
                pattern="^((6553[0-6])|(655[0-2][0-9])|(65[0-4][0-9]{2})|(6[0-4][0-9]{3})|([1-5][0-9]{4})|([0-5]{0,5})|([0-9]{1,4}))(:(((6553[0-6])|(655[0-2][0-9])|(65[0-4][0-9]{2})|(6[0-4][0-9]{3})|([1-5][0-9]{4})|([0-5]{0,5})|([0-9]{1,4}))))?$">
    </p>
    <p>
        <label for="id_destination_address">
            {{ ip_family }} Destination address: 
        </label>
        <input  id="id_destination_address" 
        type="text"
        {% if ip_family == 'IPv4' %}
            pattern="^((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)(\/([1-9]|[12][0-9]|3[01]))?$"
        {% else %}
            pattern="^([0-9A-Fa-f]{1,4}:){7}[0-9A-Fa-f]{1,4}(\/([1-9]|[1-5][0-9]|6[0-4]))?$"
        {% endif %} 
        name="destination_address">
    </p>
    <p>
        <label for="id_destination_port">
            Destination port: 
        </label>
        <input  id="id_destination_port" 
                type="text" 
                name="destination_port"
                pattern="^((6553[0-6])|(655[0-2][0-9])|(65[0-4][0-9]{2})|(6[0-4][0-9]{3})|([1-5][0-9]{4})|([0-5]{0,5})|([0-9]{1,4}))(:(((6553[0-6])|(655[0-2][0-9])|(65[0-4][0-9]{2})|(6[0-4][0-9]{3})|([1-5][0-9]{4})|([0-5]{0,5})|([0-9]{1,4}))))?$">
    </p>
    <p>
        <label for="id_action">
            Action: 
        </label>
        <select name="action" id="id_action">
            <option value="ACCEPT">ACCEPT</option>
            <option value="DROP" selected="">DROP</option>
            <option value="LOG">LOG</option>
        </select>
    </p>
    <br />
    <input  type="submit"
            update-or-submit="{{ update_or_submit }}"
            value="{{ update_or_submit }}" >
</form>
<script src="{% static 'js/addrule.js' %}" 
        class="addrule-script"
        data-update-or-submit="{{ update_or_submit }}" 
        data-ip-family="{{ ip_family }}" 
        data-traffic-direction="{{ traffic_direction }}" 
        data-rule-id="{{ rule_id }}"></script>
{% include "firewall/error.html" %}


