<div id="errorModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog bg-secondary" role="document">
        <div class="modal-content bg-secondary">
            <div class="modal-header bg-secondary">
                <h5 class="modal-title" id="exampleModalLabel">Error has occurred</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="errorModalBody"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
