<form action="" method="POST">
    {% csrf_token %}
    {% if rule.traffic_direction == 'Inbound' and rule.IP_family == 'IPv4' %}
        <p>Are you sure you want to delete the following inbound IPv4 rule?</p>
    {% elif rule.traffic_direction == 'Outbound' and rule.IP_family == 'IPv4' %}
        <p>Are you sure you want to delete the following outbound IPv4 rule?</p>
    {% elif rule.traffic_direction == 'Inbound' and rule.IP_family == 'IPv6' %}
        <p>Are you sure you want to delete the following inbound IPv6 rule?</p>
    {% elif rule.traffic_direction == 'Outbound' and rule.IP_family == 'IPv6' %}
        <p>Are you sure you want to delete the following outbound IPv6 rule?</p>
    {% endif %}
    <br>
    <br>
    <table>
        <tr>
            <th>Rule #</th>
            <th>Protocol</th>
            <th>Source IP</th>
            <th>Source port</th>
            <th>Dest. IP</th>
            <th>Dest. port</th>
            <th>Action</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>{{rule.rule_num}}</td>
            <td>{{rule.protocol}}</td>
            <td>{{rule.source_address}}</td>
            <td>{{rule.source_port}}</td>
            <td>{{rule.destination_address}}</td>
            <td>{{rule.destination_port}}</td>
            <td>{{rule.action}}</td>
            <td>{{rule.description}}</td>
        </tr>
    </table>
    <br>
    <br>
    <br>
    <input type="submit" value="Confirm" />
</form>
<a href="{% url 'home' %}"><button>Cancel</button></a>
